src/main/mule/api-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getallordersofcustomer" doc:id="3fb57baf-34af-4ba3-b99c-b59ffb6263b4" >
		<db:select doc:name="Select" doc:id="f2038e51-84f1-4bd3-a041-bb764c9787d3" config-ref="Database_Config">
			<db:sql ><![CDATA[select o.order_id, o.customer_id,o.restaurant_id,o.delivery_address_id,o.order_total_price,o.order_status,o.order_time,
oi.order_item_id,oi.menu_item_id,oi.quantity,oi.order_item_price,oi.menu_id
 from orders o left join order_items oi on o.order_id= oi.order_id where o.customer_id = :custid]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	custid: vars.id as Number
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="8a0e8bd5-11da-44db-a2cf-adeb3531591f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var groupedOrders = payload groupBy (item) -> item.order_id
var ordersMap = groupedOrders mapObject (V,K,I) -> {
	(K) : {
		
  "orderId": V[0].order_id,
  "customerId": V[0].customer_id,
  "restaurantId": V[0].restaurant_id,
  "deliveryAddressId": V[0].delivery_address_id,
  "orderTotalPrice": V[0].order_total_price,
  "orderStatus": V[0].order_status,
  "orderTime": V[0].order_time,
  orderItems: V map (order)->{
  	 "orderItemId": order.order_item_id,
      "orderId": order.order_id,
      "menuId": order.menu_id,
      "menuItemId": order.menu_item_id,
      "restaurantId": order.restaurant_id,
      "quantity": order.quantity,
      "orderItemPrice": order.order_item_price
  }
  
}
	
}


---
ordersMap pluck (V,K,I) -> V


]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="91fdf41c-82ad-4d55-ab48-bf46cdf23cb5" >
				<ee:transform doc:name="Transform Message" doc:id="fb52b119-5361-4bcb-8859-141de9ffa394" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "status": "500",
  "message": "There was some server side problem. Please try later"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
